{{>errorInInput incompleteInfo=showErrorMessage}}
<form method="POST">
            <div class="login">
                <label> Email address <input type="email" name="emailAddress" id="email-address">  </label>
                <label> Password <input type="password" name="password" id="password"> </label>
            </div>
               <br>

             <div class="button">
                <button type="submit">Log in</button>
            </div>
</form>