<div class="profile-main">
<form method="POST">
    <div class="profile-parent">
        <label>
            Age
            <input
                type="number"
                name="age"
                min="15"
                max="110"
                optional="true"
                id="profile-input"
            />
        </label>
        <label> City <input type="text" name="city" id="profile-input" /> </label>
        <label>
            Homepage
            <input type="url" name="homepage" id="profile-input" />
        </label>
    <br />

    <div>
        <button type="submit" id="profile-button">Continue</button>
    </div>
    </div>
</form>
</div>