<div class="profile-main">
     <div class="profile-parent">
            <form method="POST">
                <div id="profile-div">
                    <label class="profile-label">
                        Age
                        <input
                            type="number"
                            name="age"
                            min="15"
                            max="110"
                            optional="true"
                            id="profile-input"
                        />
                    </label>
                </div>
                <div id="profile-div">
                    <label class="profile-label"> City <input type="text" name="city" id="profile-input" /> </label>
                </div>
                <div id="profile-div">
                    <label class="profile-label">
                        Homepage
                        <input type="url" name="homepage" id="profile-input" />
                    </label>
                </div>
                    <br />
                <div class="profile-button-wrapper">
                    <button type="submit" id="profile-button">Continue</button>
                </div>
            </form>
    </div>
</div>