<form method="POST">
    <div class="layout">
        <label>
            Age
            <input
                type="number"
                name="age"
                min="15"
                max="110"
                optional="true"
                id="age"
            />
        </label>
        <label> City <input type="text" name="city" id="city" /> </label>
        <label>
            Homepage
            <input type="url" name="homepage" id="homepage" />
        </label>
    </div>
    <br />

    <div class="button">
        <button type="submit">Continue</button>
    </div>
</form>