
<div class="registration-parent">
    <div id="text">
        <div>
            Time is running out!
            <br>
            Every day, we find ourselves checking the clock wishing to have more hours in a day.
            <br>
            Wouldn't things be easier if the day was 25 hours long?
        </div>
        <div>
            So why not make a timeless petition to make our voices heard to the future generations, where all amazing
            <br>
            theories about time will not only be hypotheses in mathematical equations, but will be real!
            
        </div>
    </div>
    <br>
    
    <form method="POST">

                    <label> First Name <input type="text" name="first" id="inputfield">  </label>
                    <label> Last Name <input type="text" name="last" id="inputfield"> </label>
                    <label> Email address <input type="email" name="emailAddress" id="inputfield">  </label>
                    <label> Password <input type="password" name="password" id="inputfield"> </label>
                    <button id="submit-signup" type="submit">Sign Up</button>
    </form>
<br>
    <div>
         <h3> If you are already a member, please <a href="/login">log in</a></h3>
    </div>
        <br>
         {{>errorInInput incompleteInfo=showErrorMessage}}
        <br>
    <div>
        <img id ="Melting-clock" src ="/Meltingclock.jpg" alt = "Melting-clock"/>
    </div>
</div>




