 <div id="thanks">
    <h1>
        THANK YOU FOR SIGNING!
    </h1>

    <img src="{{signaturePic}}" alt="signaturePic" id="signaturePic"/>
    <h2><a href="/signers">See all {{numberOfSigners}} signers!</a></h2>
    <h2><a href="/edit">Edit your profile!</a></h2>
     <form method="POST">
    <div class="button">
                <button type="submit">Delete your signature</button>
            </div>
    </form>
</div>

