<div class="projetcs">
    <h1>
    WELCOME TO THE PETITION PAGE!
    </h1>

    <div>  
      <input type="text" />
      <input type="text" />
    </div>
    

    <div id="canvasParent">
            <canvas id="canvas" width="300" height="100"></canvas>
        </div>

    <div>
    <button id="go">submit</button>
    </div>
</div>