
<div class="welcome-main">
      <div class ="welcome-parent">
        <h1>
       <a> Only one step left, TIME to take action</a>
       <br>

      {{>errorInInput incompleteInfo=showErrorMessage}}
       <br>
      <div class="input">
         <form method="POST">
            <div id="canvasParent">
                    <input type="hidden" name="canvas" id="hiddenForCanvas">
                    <canvas id="canvas" width="500" height="200"></canvas>
                    <p>Sign here!</p>
            </div>
              <br>
             <div>
                <button id="welcome-button" type="submit">Submit</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/script.js"></script>
      </div>
      </div>
</div>

      